#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  margin: 0 auto;
  padding: 3rem 2rem 24px 2rem; 
  text-align: center;
  height: 500px;
  width: 500px;
  min-height: 100vh;
  min-width: 350px;
  position: relative;
  background: linear-gradient(135deg, #0f0f0f 0%, #1c402e 50%, #1e5136 100%);
  transition: background 0.6s ease-in-out;
  box-sizing: border-box;
  padding-bottom: 24px;
}

.details-popup-container {
  position: fixed;
  left: 10;
  right: 10;
  bottom: 0;
  height: 450px;
  width: 475px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: green;
  z-index: 10;
}
