#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 500px;
  width: 500px;
}

.details-popup-container {
  position: fixed;
  left: 10;
  right: 10;
  bottom: 0;
  height: 470px;
  width: 475px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: green;
  z-index: 10;
}
