.show-more-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  margin: 3px 10px;
}

h3 {
  font-size: 1.1rem;
}

.close-button {
  position: absolute;
  right: 25px;
  font-size: large;
  cursor: pointer;
}

.popup-bar-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 20px;
  gap: 16px;
  padding: 0 12px;   
  scroll-behavior: smooth;
}

.popup-bar-item {
  flex-shrink: 0;
  height: 125px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  object-fit: scale-down !important;
}

.popup-description {
  border: 1px solid white;
  margin: 5px;
  padding-bottom: 20px;
}