.footer-container {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  height: 35%;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  background-color: gray;
}

.bar-items-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
}

.bar-item {
  height: 100px;
  width: 100px;
  padding: 10px;
}

.progress-bar {
  object-fit: scale-down !important;
}

.show-more-button {
  margin-right: 10px;
  height: 50px;
  background-color: green;
}

.show-more-button:hover {
  scale:calc(1.05);
  background-color: rgb(10, 122, 10);
  transition: background-color 0.2s scale 0.2s
} 

.show-more-button:active {
  background-color: rgb(14, 92, 14);
} 